IQAIR_API_KEY=your_iqair_api_key_here
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=your_secure_password_here
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=your_secure_password_here
DWH_DB_USER=admin
DWH_DB_PASSWORD=your_secure_password_here